<ion-header>
    <ion-navbar hideBackButton="true">
        <ion-title>Sign In</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <!-- <ion-grid class="gridPadding">
        <ion-list col-12>
            <button ion-button color="danger" class="marginBottom" block ion-left (click)="doGoogleLogin()">
                <ion-icon name="logo-google"></ion-icon>
                <div margin="auto">Sign In with Google+</div>
            </button>
            <button ion-button color="primary" block ion-left>
                <ion-icon name="logo-facebook" ion-left></ion-icon>
                <div margin="auto">Sign In with Facebook</div>
            </button>
        </ion-list>
    </ion-grid> -->
    <ion-list>
        <form [formGroup]="loginFormData">
            <ion-item class="borderTop inputFields">
                <ion-input type="text" formControlName="email" placeholder="Email" [(ngModel)]="email"></ion-input>
            </ion-item>
            <ion-item no-lines *ngIf="( loginFormData.get('email').hasError('minlength') || loginFormData.get('email').hasError('pattern') ||loginFormData.get('email').hasError('required') ) && loginFormData.get('email').touched">
                <div class="error" *ngIf="loginFormData.get('email').hasError('required') && loginFormData.get('email').touched">
                    Please input your email
                </div>
                <div class="error" *ngIf="loginFormData.get('email').hasError('pattern') && loginFormData.get('email').touched">
                    Email address invalid
                </div>
            </ion-item>
            <ion-item class="inputFields">
                <ion-input type="{{type}}" formControlName="password" placeholder="Password" [(ngModel)]="password"></ion-input>
                <button *ngIf="!showPass" ion-button clear color="dark" type="button" item-right (click)="showPassword()"> <ion-icon name="eye"></ion-icon></button>
                <button *ngIf="showPass" ion-button clear color="dark" type="button" item-right (click)="showPassword()"> <ion-icon name="eye-off"></ion-icon></button>
            </ion-item>
            <ion-item no-lines *ngIf="( loginFormData.get('password').hasError('minlength') || loginFormData.get('password').hasError('maxlength') ||loginFormData.get('password').hasError('required') ) && loginFormData.get('password').touched">
                <div class="error" *ngIf="loginFormData.get('password').hasError('required') && loginFormData.get('password').touched">
                    Please input your password
                </div>
                <div class="error" *ngIf="loginFormData.get('password').hasError('minlength') && loginFormData.get('password').touched">
                    Minimum 6 characters
                </div>
                <div class="error" *ngIf="loginFormData.get('password').hasError('maxlength') && loginFormData.get('password').touched">
                    Maximum 12 characters
                </div>
            </ion-item>
            <ion-list class="forgotPasswordLink">
                <a (click)="forgotPassword()">Forgot Password?</a>
            </ion-list>
            
        </form>
    </ion-list>
    <ion-grid class="gridPadding">
            <button ion-button class="signInButton" block outline [disabled]="!loginFormData.valid" (click)="login()">Sign In</button>
    </ion-grid>
    <ion-grid text-center>
        <ion-list>
            <div class="signUpLink">Need an account? <a color="dark" (click)="signup()">Sign Up</a></div>
        </ion-list>
    </ion-grid>
    <ion-grid text-center class="gridPadding">
        <ion-list>
            <p class="PolicyLink">By Signing up you agree to the <a>Terms of Service</a> and <a>Privacy Policy</a></p>
        </ion-list>
    </ion-grid>
</ion-content>