page-login {
    *{
        font-weight: normal;
    }
    .gridPadding{
        padding: 5px 20px;
    }
    .signInButton{
        background-color: #ff9735;
        border-color: #ff9735;
        color: white;
    }
    .gridPadding .button-inner div{
        text-transform: none!important;
    }
    .inputFields{
        padding-left: 0px;
    }
    .borderTop{
        border-top: 1px solid #dedede;
    }
    .marginBottom{
        margin-bottom: 10px;
    }
    .inputFields input {
        padding-left: 15px;
        padding-right: 15px;
    }
    .forgotPasswordLink{
        margin: 15px 20px;
    }
    .forgotPasswordLink a{
        color: #ff9735;
    }
    .signUpLink, .PolicyLink{
        color: #858585;
    }
    .signUpLink a, .PolicyLink a{
        color: #000;
    }
    .error {
        color: red;
        font-size: 14px;
        margin: 0px 7px;
    }
}
