<ion-header>
  <ion-navbar>
      <ion-buttons>
          <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
          <ion-title>Dashboard</ion-title>
          </button>
          
      </ion-buttons>
     
  </ion-navbar>
</ion-header>


<ion-content padding>
    <div style="display: block">
        <canvas baseChart
                [datasets]="barChartData"
                [labels]="barChartLabels"
                [options]="barChartOptions"
                [colors]="barChartColors"
                [legend]="barChartLegend"
                [chartType]="barChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
      </div>
      

      
    <ion-card-content>        
      <ion-grid class="gridPadding">
          <button ion-button block outline (click)="logout()">Sign Out</button> 
      </ion-grid>
  </ion-card-content>
</ion-content>
