<ion-header>
    
    <ion-navbar>
        <ion-title>Outlook</ion-title>
    </ion-navbar>
    
</ion-header>
<ion-content >
<ion-card class="card-header-box" color="dark">
    <ion-card-content>
        <p>How would you rate your positivity?</p>
    </ion-card-content>
</ion-card>
<ion-card class="card-header-box">
        <div class="overflowBox">            
            <ion-list radio-group [(ngModel)]="selection">
                <ion-item *ngFor="let outlook of outlookScale">                    
                    <ion-label>{{outlook.Question}}</ion-label>
                    <ion-radio [value]="outlook" (ionSelect)="outlookChanged($event)"></ion-radio>
                </ion-item>
            </ion-list>
        </div> 
        <ion-item color="light">Remarks: {{remarks}}</ion-item> 
</ion-card>
    <ion-grid class="gridPadding">
        <button ion-button block outline (click)="NextModule()">Submit</button>
    </ion-grid>
</ion-content>