<ion-header>
    <ion-navbar>
        <ion-title>Reset your password</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-grid class="gridPadding">
        <ion-list col-12>
            <p class="frgtpswd">Please enter your email address and we'll send you an email to reset your password</p>
        </ion-list>
    </ion-grid>
    <ion-list>
        <form [formGroup]="forgotPasswordFormData">
            <ion-item class="borderTop inputFields inputFieldsLast">
                <ion-input type="text" formControlName="email" placeholder="Email" [(ngModel)]="email"></ion-input>
            </ion-item>
            <ion-item no-lines *ngIf="( forgotPasswordFormData.get('email').hasError('minlength') || forgotPasswordFormData.get('email').hasError('pattern') ||forgotPasswordFormData.get('email').hasError('required') ) && forgotPasswordFormData.get('email').touched">
                <div class="error" *ngIf="forgotPasswordFormData.get('email').hasError('required') && forgotPasswordFormData.get('email').touched">
                    Please input your email
                </div>
                <div class="error" *ngIf="forgotPasswordFormData.get('email').hasError('pattern') && forgotPasswordFormData.get('email').touched">
                    Email address invalid
                </div>
            </ion-item>
        </form>
    </ion-list>
    <ion-grid class="gridPadding">
            <button ion-button color="dark" block outline [disabled]="!forgotPasswordFormData.valid" (click)="forgotPassword()">Reset Password</button>
    </ion-grid>
    <button ion-button full (click)="scheduleNotification()">Schedule</button>
</ion-content>