page-forgot-password {
    *{
        font-weight: normal;
    }
    .borderTop{
        border-top: 1px solid #dedede;
    }
    .frgtpswd{
        color: #858585;
    }
    .gridPadding{
        padding: 5px 20px;
    }
    .gridPadding button{
        text-transform: none!important;
        background-color: #ff9735;
        border-color: #ff9735;
        color: white;
    }
    .inputFields{
        padding-left: 0px;
    }
    .inputFields input {
        padding-left: 15px;
        padding-right: 15px;
    }
    .inputFieldsLast {
        border-bottom: none!important;
    }
}
