page-personal-details {
    *{
        font-weight: normal;
    }
    .gridPadding{
        padding: 5px 20px;
    }
    .gridPadding button{
        text-transform: none!important;
        background-color: #ff9735;
        border-color: #ff9735;
        color: white;
    }
    .inputFields{
        padding-left: 0px;
    }
    .inputFields input, .optionLabels {
        padding-left: 15px;
        padding-right: 15px;
    }
    .inputFieldsLast {
        border-bottom: none!important;
    }
    .error {
        color: red;
        font-size: 14px;
        margin: 0px 7px;
    }
}
