<ion-header>
  <ion-navbar hideBackButton="true">
      <ion-title>Personal Details</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list>
      <form [formGroup]="PersonalFormData">
          <ion-item class="inputFields">
            <ion-label class="optionLabels">
              Gender
            </ion-label>
            <ion-select formControlName="gender" [(ngModel)]="gender">
              <ion-option *ngFor="let gender of genders" value="{{ gender }}">
                  {{ gender }}
              </ion-option>
            </ion-select>
          </ion-item>
          <ion-item no-lines *ngIf="( PersonalFormData.get('gender').hasError('required') ) && PersonalFormData.get('gender').touched">
              <div class="error" *ngIf="PersonalFormData.get('gender').hasError('required') && PersonalFormData.get('gender').touched">
                  Please select Gender
              </div>
          </ion-item>
          <ion-item class="inputFields">
            <ion-label class="optionLabels">Date Of Birth</ion-label>
            <ion-datetime displayFormat="MM/DD/YYYY" formControlName="birthdate" [(ngModel)]="birthdate" [max]="getToday()"></ion-datetime>
          </ion-item>
          <ion-item no-lines *ngIf="( PersonalFormData.get('birthdate').hasError('required') ) && PersonalFormData.get('birthdate').touched">
              <div class="error" *ngIf="PersonalFormData.get('birthdate').hasError('required') && PersonalFormData.get('birthdate').touched">
                  Please select Date of Birth
              </div>
          </ion-item>
          <ion-item class="inputFields">
            <ion-label class="optionLabels">Height (cms)</ion-label>
            <ion-select (ionChange)='selectHeight($event)' formControlName="height" [(ngModel)]="height">
              <ion-option *ngFor="let height of heights" value="{{ height }}">
                {{ height }}
              </ion-option>
            </ion-select>
          </ion-item>
          <ion-item no-lines *ngIf="( PersonalFormData.get('height').hasError('required') ) && PersonalFormData.get('height').touched">
              <div class="error" *ngIf="PersonalFormData.get('height').hasError('required') && PersonalFormData.get('height').touched">
                  Please select height
              </div>
          </ion-item>
          <ion-item class="inputFields">
            <ion-label class="optionLabels">Weight (kgs)</ion-label>
            <ion-select (ionChange)='selectWeight($event)' formControlName="weight" [(ngModel)]="weight">
              <ion-option *ngFor="let weight of weights" value="{{ weight }}">
                {{ weight }}
              </ion-option>
            </ion-select>
          </ion-item>
          <ion-item no-lines *ngIf="( PersonalFormData.get('weight').hasError('required') ) && PersonalFormData.get('weight').touched">
              <div class="error" *ngIf="PersonalFormData.get('weight').hasError('required') && PersonalFormData.get('weight').touched">
                  Please select weight
              </div>
          </ion-item>
          <ion-item class="inputFields">
            <ion-label class="optionLabels">
              Origin
            </ion-label>
            <ion-select (ionChange)='selectOrigin($event)' formControlName="origin" [(ngModel)]="origin">
              <ion-option *ngFor="let origin of origins" value="{{ origin }}">
                {{ origin }}
              </ion-option>
            </ion-select>
          </ion-item>
          <ion-item no-lines *ngIf="( PersonalFormData.get('origin').hasError('required') ) && PersonalFormData.get('origin').touched">
              <div class="error" *ngIf="PersonalFormData.get('origin').hasError('required') && PersonalFormData.get('origin').touched">
                  Please select origin
              </div>
          </ion-item>
          <ion-item class="inputFields inputFieldsLast" *ngIf="isOriginOthers">
            <ion-input type="text" placeholder="Origin (Any others specify here)"></ion-input>
          </ion-item>
          <ion-item class="inputFields">
            <ion-label class="optionLabels">
              Type of work
            </ion-label>
            <ion-select formControlName="workType" [(ngModel)]="workType" (ionChange)='selectworkType($event)'>
              <ion-option *ngFor="let workType of workTypes">
                {{ workType }}
              </ion-option>
            </ion-select>
          </ion-item>
          <ion-item no-lines *ngIf="( PersonalFormData.get('workType').hasError('required') ) && PersonalFormData.get('workType').touched">
              <div class="error" *ngIf="PersonalFormData.get('workType').hasError('required') && PersonalFormData.get('workType').touched">
                  Please select Type of work
              </div>
          </ion-item>
          <ion-item class="inputFields">
              <ion-label class="optionLabels">
                Existing Medical Conditions
              </ion-label>
              <ion-select (ionChange)='selectMedical($event)' [(ngModel)]="medicalCondition" [ngModelOptions]="{standalone: true}">
                <ion-option *ngFor=" let medicalCondition of medicalConditions" value="{{ medicalCondition }}" [selected]="medicalValue == medicalCondition">
                  {{ medicalCondition }}
                </ion-option>
              </ion-select>
          </ion-item>
          <ion-item class="inputFields inputFieldsLast" *ngIf="isMedicalOthers">
            <ion-input type="text" placeholder="Medical Conditions (others specify here)"></ion-input>
          </ion-item>
        </form>
  </ion-list>
  <ion-grid class="gridPadding">
      <button ion-button block outline [disabled]="!PersonalFormData.valid" (click)="computeBMI(birthdate)">Submit</button>
  </ion-grid>
</ion-content>