<ion-header>
    <ion-navbar>
        <ion-buttons>
            <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
            <ion-title>Dashboard</ion-title>
            </button>
            
        </ion-buttons>
       
    </ion-navbar>
</ion-header>
<ion-content >
<div *ngIf="isSubmittedWorkout">
    <ion-card class="card-header-box">
        <ion-card-content *ngIf="isWorkoutActivity">
            <p>Workout for Today</p>
        </ion-card-content>
        <ion-card-content *ngIf="isNoWorkoutActivity">
            <p>Oops you don't have any workout today. Please visit tomorrow. Thank You!</p>
        </ion-card-content>
    </ion-card>
    <ion-grid class="gridPadding" *ngIf="isNoWorkoutActivity">
        <button ion-button block (click)="createWorkout()">Create Workout for Today</button>
    </ion-grid>
    <ion-card *ngIf="isWorkoutActivity">
        <ion-card-content>
            <ion-grid>
                <ion-row>
                    <ion-col col-8>
                        Activity
                    </ion-col>
                    <ion-col col-4>
                        Time
                    </ion-col>
                </ion-row>
                <ion-row *ngFor="let activityTypes of activityType;">
                    <ion-col col-8>
                        {{activityTypes.ActivityName}}
                    </ion-col>
                    <ion-col col-4>
                        {{activityTypes.TimePerDay}}
                    </ion-col>
                </ion-row>
            </ion-grid>            
        </ion-card-content>
    </ion-card>
    <ion-grid class="gridPadding" *ngIf="isWorkoutActivity">
        <button ion-button block outline (click)="workoutInputPage()">Submit Workout</button>
    </ion-grid>
</div>
    <ion-card-content *ngIf="isWorkoutActivity">
      <h2>PeaceQ Score</h2>
    <div class="progress-wrapper">
        <div class="current" [ngStyle]="getOverlayStyle()">{{DailyPeaceQscoreText}}</div>
        <round-progress [current]="current" [max]="max" [stroke]="stroke" [radius]="radius" [semicircle]="semicircle" [rounded]="rounded"
        [responsive]="responsive" [clockwise]="clockwise" [color]="gradient ? 'url(#gradient)' : color" [background]="background"
        [duration]="duration" [animation]="animation" [animationDelay]="animationDelay"></round-progress>
    </div>
    </ion-card-content>
         
</ion-content>