page-dashboard{
    *{
        font-weight: normal;
    }
    .item-md{
        padding-left: 0px!important;
    }
    .list-md .item-block .item-inner{
        padding-left: 16px;
    }
    .card-header-box{
        background-color: #ff9735;
        border-radius: 2px!important;
    }
    .card-header-box p{
        color: #fff;
    }
    .card-title {
    position: absolute;
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
    }
    .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #fff;
    }
}