page-daily-report{
    *{
        font-weight: normal;
    }
    ion-card-header{
        text-align: center;
    }
    ion-card-header ion-icon{
        padding:0px 5px;
        font-size: 36px;
    }
    .gold{
        color: #D4AF37;
    }
    .silver{
        color: #C0C0C0;
    }
    .bronze{
        color: #8C7853;
    }
}