<ion-header>
    <ion-navbar>
        <ion-buttons end>
            <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>Exercise Reports</ion-title>
    </ion-navbar>
</ion-header>

<ion-tabs #myTabs>
    <ion-tab tabIcon="list-box" tabTitle="Daily" [root]="tab1"></ion-tab>
    <ion-tab tabIcon="calendar" tabTitle="Weekly" [root]="tab2"></ion-tab>
</ion-tabs>