page-vigorous {
    *{
        font-weight: normal;
    }
    ion-card {
        position: relative;
        text-align: center;
    }
    ion-icon{
        color: #ff9735;
    }
    .card-header-box{
        background-color: #eeeeee;
    }
    .card-header-box ion-grid{
        text-align: left;
    }
    .card-md-dark p{
        color: #222;
    }
    .gridPadding{
        padding: 5px 10px;
    }
    .gridPadding button{
        text-transform: none!important;
        background-color: #ff9735;
        border-color: #ff9735;
        color: white;
    }
    .inputFields{
        padding-left: 0px;
    }
    .inputFields input, .optionLabels {
        padding-left: 15px;
        padding-right: 15px;
    }
    .inputFieldsLast {
        border-bottom: none!important;
    }
}