<ion-header>
    
    <ion-navbar>
        <ion-title>Sleep</ion-title>
    </ion-navbar>
    
</ion-header>
<ion-content >
<ion-card class="card-header-box" color="dark">
    <ion-card-content>
        <p>How would you rate your sleep quality last night?</p>
    </ion-card-content>
</ion-card>
<ion-card class="card-header-box">
        <div class="overflowBox">            
            <ion-list radio-group [(ngModel)]="selection">
                <ion-item *ngFor="let sleep of sleepScale">                    
                    <ion-label>{{sleep.Question}}</ion-label>
                    <ion-radio [value]="sleep" (ionSelect)="sleepChanged($event)"></ion-radio>
                </ion-item>
            </ion-list>            
        </div>         
        <ion-item color="light">Remarks: {{remarks}}</ion-item> 
</ion-card>
    <ion-grid class="gridPadding">
        <button ion-button block outline (click)="NextModule()">Next</button> 
    </ion-grid>
</ion-content>