<ion-header>
    
    <ion-navbar>
        <ion-title>Moderate Workout</ion-title>
    </ion-navbar>
    
</ion-header>
<ion-content >
<ion-card class="card-header-box" color="dark">
    <ion-card-content>
        <p>Please select below moderate workout plan for the week.</p>
    </ion-card-content>
</ion-card>
<ion-card class="card-header-box">
        <div class="overflowBox">
            <ion-row *ngFor="let activity of activityType;let i =index;">
                <ion-col col-12>
                    <ion-item no-lines>
                        <ion-label>{{activity.ActivityName}}</ion-label>                  
                        <ion-checkbox [(ngModel)]="activityType[i].checked" (ionChange)="updateAnswer(activityType[i],i)"></ion-checkbox>
                    </ion-item>
                </ion-col>
                <ion-col col-12 *ngIf="activityType[i].checked==true;">
                    <ion-item no-lines>
                        <ion-label>Time Spent (mins)</ion-label>
                        <ion-select (ionChange)='selectTimePerDay($event, i)' interface="popover">                         
                            <ion-option *ngFor=" let timePerDays of timePerDay" value="{{ timePerDays }}">
                                {{ timePerDays }}
                            </ion-option>
                        </ion-select>
                    </ion-item>
                    <ion-item no-lines>
                        <ion-label>Days in week</ion-label>
                        <ion-select (ionChange)='selectDayPerWeek($event, i)' interface="popover" multiple="true">                         
                            <ion-option *ngFor=" let dayPerWeeks of dayPerWeek" value="{{ dayPerWeeks }}">
                                {{ dayPerWeeks }}
                            </ion-option>
                        </ion-select>
                    </ion-item>
                </ion-col>       
            </ion-row>
        </div>  
</ion-card>
    <ion-grid class="gridPadding">
        <button ion-button block outline (click)="openModerateActivity()">Submit</button>
    </ion-grid>
</ion-content>