<ion-menu side="left" [content]="content">
    <ion-header>
        <ion-toolbar>
            <ion-title>Menu</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-list>
            <!-- <button ion-item (click)="openPage(changeProfile)">
                <ion-icon name="person"> Change Profile</ion-icon> 
            </button>
            <button ion-item (click)="openPage(modifyWorkoutPlan)">
                <ion-icon name="create"> Modify Workout Plan</ion-icon> 
            </button>
            <button ion-item (click)="openPage(bestSuggestion)">
                <ion-icon name="help"> Best Suggestion</ion-icon> 
            </button>
            <button ion-item (click)="openPage(dailyReport)">
                <ion-icon name="paper"> Daily Report</ion-icon>
            </button>
            <button ion-item (click)="openPage(weeklyReport)">
                <ion-icon name="paper"> Weekly Report</ion-icon>
            </button> -->
            <button ion-item (click)="logout()">
                <ion-icon name="log-out"> Sign Out</ion-icon>
            </button>
        </ion-list>
    </ion-content>   
</ion-menu>
    
<ion-nav id="nav" [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
