<ion-header>
    
    <ion-navbar>
        <ion-title>Diet</ion-title>
    </ion-navbar>
    
</ion-header>
<ion-content >
<ion-card class="card-header-box" color="dark">
    <ion-card-content>
        <p>Have you had 5 portions a day? <a>What is 5 Portions?</a></p>
    </ion-card-content>
    <div class="overflowBox">            
        <ion-list radio-group [(ngModel)]="selection1">
            <ion-item *ngFor="let dietQ1 of dietQ1Scale">                    
                <ion-label>{{dietQ1.Question}}</ion-label>
                <ion-radio [value]="dietQ1" (ionSelect)="dietQ1Changed($event)"></ion-radio>
            </ion-item>
        </ion-list>            
    </div>
</ion-card>
<ion-card class="card-header-box" color="dark">
    <ion-card-content>
        <p>Have you had 50g protein? <a>What is 50g protein?</a></p>
    </ion-card-content>
    <div class="overflowBox">            
        <ion-list radio-group [(ngModel)]="selection2">
            <ion-item *ngFor="let dietQ2 of dietQ2Scale">                    
                <ion-label>{{dietQ2.Question}}</ion-label>
                <ion-radio [value]="dietQ2" (ionSelect)="dietQ2Changed($event)"></ion-radio>
            </ion-item>
        </ion-list>            
    </div>
</ion-card>
<ion-card class="card-header-box" color="dark">
    <ion-card-content>
        <p>How much fat did you have?</p>
    </ion-card-content>
    <div class="overflowBox">            
        <ion-list radio-group [(ngModel)]="selection3">
            <ion-item *ngFor="let dietQ3 of dietQ3Scale">                    
                <ion-label>{{dietQ3.Question}}</ion-label>
                <ion-radio [value]="dietQ3" (ionSelect)="dietQ3Changed($event)"></ion-radio>
            </ion-item>
        </ion-list>            
    </div>
</ion-card>
<ion-card class="card-header-box" color="dark">
    <ion-card-content>
        <p>How much sugar did you have?</p>
    </ion-card-content>
    <div class="overflowBox">            
        <ion-list radio-group [(ngModel)]="selection4">
            <ion-item *ngFor="let dietQ4 of dietQ4Scale">                    
                <ion-label>{{dietQ4.Question}}</ion-label>
                <ion-radio [value]="dietQ4" (ionSelect)="dietQ4Changed($event)"></ion-radio>
            </ion-item>
        </ion-list>            
    </div>
</ion-card>
<ion-card class="card-header-box" color="dark">
    <ion-card-content>
        <p>Have you had more than 1 portion (130 gms) of cake/choclate/crisps?</p>
    </ion-card-content>
    <div class="overflowBox">            
        <ion-list radio-group [(ngModel)]="selection5">
            <ion-item *ngFor="let dietQ5 of dietQ5Scale">                    
                <ion-label>{{dietQ5.Question}}</ion-label>
                <ion-radio [value]="dietQ5" (ionSelect)="dietQ5Changed($event)"></ion-radio>
            </ion-item>
        </ion-list>            
    </div>
</ion-card>
<ion-card class="card-header-box" color="dark">
    <ion-card-content>
        <p>Did you have 8 glasses of water today?</p>
    </ion-card-content>
    <div class="overflowBox">            
        <ion-list radio-group [(ngModel)]="selection6">
            <ion-item *ngFor="let dietQ6 of dietQ6Scale">                    
                <ion-label>{{dietQ6.Question}}</ion-label>
                <ion-radio [value]="dietQ6" (ionSelect)="dietQ6Changed($event)"></ion-radio>
            </ion-item>
        </ion-list>            
    </div>
</ion-card>
<ion-card class="card-header-box" color="dark">
    <ion-card-content>
        <p>Have you had processed food more than once a day?</p>
    </ion-card-content>
    <div class="overflowBox">            
        <ion-list radio-group [(ngModel)]="selection7">
            <ion-item *ngFor="let dietQ7 of dietQ7Scale">                    
                <ion-label>{{dietQ7.Question}}</ion-label>
                <ion-radio [value]="dietQ7" (ionSelect)="dietQ7Changed($event)"></ion-radio>
            </ion-item>
        </ion-list>            
    </div>
</ion-card>
<ion-card class="card-header-box" color="dark">
    <ion-card-content>
        <p>Have you had a restaurant meal today?</p>
    </ion-card-content>
    <div class="overflowBox">            
        <ion-list radio-group [(ngModel)]="selection8">
            <ion-item *ngFor="let dietQ8 of dietQ8Scale">                    
                <ion-label>{{dietQ8.Question}}</ion-label>
                <ion-radio [value]="dietQ8" (ionSelect)="dietQ8Changed($event)"></ion-radio>
            </ion-item>
        </ion-list>            
    </div>
</ion-card>
<ion-card class="card-header-box" color="dark">
    <ion-card-content>
        <p>Have you had more than 2 glasses of Alcohol?</p>
    </ion-card-content>
    <div class="overflowBox">            
        <ion-list radio-group [(ngModel)]="selection9">
            <ion-item *ngFor="let dietQ9 of dietQ9Scale">                    
                <ion-label>{{dietQ9.Question}}</ion-label>
                <ion-radio [value]="dietQ9" (ionSelect)="dietQ9Changed($event)"></ion-radio>
            </ion-item>
        </ion-list>            
    </div>
</ion-card>
<ion-card class="card-header-box" color="dark">
    <ion-card-content>
        <p>Have you smoked today?</p>
    </ion-card-content>
    <div class="overflowBox">            
        <ion-list radio-group [(ngModel)]="selection10">
            <ion-item *ngFor="let dietQ10 of dietQ10Scale">                    
                <ion-label>{{dietQ10.Question}}</ion-label>
                <ion-radio [value]="dietQ10" (ionSelect)="dietQ10Changed($event)"></ion-radio>
            </ion-item>
        </ion-list>            
    </div>
</ion-card>
    <ion-grid class="gridPadding">
        <button ion-button block outline (click)="NextModule()">Next</button> 
    </ion-grid>
</ion-content>