<ion-header>
    <ion-navbar>
      <ion-title>
        Workout Plan
      </ion-title>
      <!-- <ion-buttons start>
        <button ion-button icon-only (click)="addItem()"><ion-icon name="add-circle"></ion-icon></button>
      </ion-buttons> -->
    </ion-navbar>
  </ion-header>
<ion-content>
    <ion-card *ngIf="isMondayActivity">
        <ion-card-header class="card-header-box">
            Monday
        </ion-card-header>
        <ion-card-content>
            <ion-grid>
                <ion-row>
                    <ion-col col-8>
                        Activity
                    </ion-col>
                    <ion-col col-4>
                        Time
                    </ion-col>
                </ion-row>
                <ion-row *ngFor="let Mondays of Monday;">
                    <ion-col col-8>
                        {{Mondays.ActivityName}}
                    </ion-col>
                    <ion-col col-4>
                        {{Mondays.TimePerDay}}
                    </ion-col>
                </ion-row>
            </ion-grid> 
            
        </ion-card-content>
    </ion-card>
    <ion-card *ngIf="isTuesdayActivity">
        <ion-card-header class="card-header-box">
            Tuesday
        </ion-card-header>
        <ion-card-content>
            <ion-grid>
                <ion-row>
                    <ion-col col-8>
                        Activity
                    </ion-col>
                    <ion-col col-4>
                        Time
                    </ion-col>
                </ion-row>
                <ion-row *ngFor="let Tuesdays of Tuesday">
                    <ion-col col-8>
                        {{Tuesdays.ActivityName}}
                    </ion-col>
                    <ion-col col-4>
                        {{Tuesdays.TimePerDay}}
                    </ion-col>
                </ion-row>
            </ion-grid>             
        </ion-card-content>
    </ion-card>
    <ion-card *ngIf="isWednesdayActivity">
        <ion-card-header class="card-header-box">
            Wednesday
        </ion-card-header>
        <ion-card-content>
            <ion-grid>
                <ion-row>
                    <ion-col col-8>
                        Activity
                    </ion-col>
                    <ion-col col-4>
                        Time
                    </ion-col>
                </ion-row>
                <ion-row *ngFor="let Wednesdays of Wednesday">
                    <ion-col col-8>
                        {{Wednesdays.ActivityName}}
                    </ion-col>
                    <ion-col col-4>
                        {{Wednesdays.TimePerDay}}
                    </ion-col>
                </ion-row>
            </ion-grid>             
        </ion-card-content>
    </ion-card>
    <ion-card *ngIf="isThursdayActivity">
        <ion-card-header class="card-header-box">
            Thursday
        </ion-card-header>
        <ion-card-content>
            <ion-grid>
                <ion-row>
                    <ion-col col-8>
                        Activity
                    </ion-col>
                    <ion-col col-4>
                        Time
                    </ion-col>
                </ion-row>
                <ion-row *ngFor="let Thursdays of Thursday">
                    <ion-col col-8>
                        {{Thursdays.ActivityName}}
                    </ion-col>
                    <ion-col col-4>
                        {{Thursdays.TimePerDay}}
                    </ion-col>
                </ion-row>
            </ion-grid>             
        </ion-card-content>
    </ion-card>
    <ion-card *ngIf="isThursdayActivity">
        <ion-card-header class="card-header-box">
            Thursday
        </ion-card-header>
        <ion-card-content>
            <ion-grid>
                <ion-row>
                    <ion-col col-8>
                        Activity
                    </ion-col>
                    <ion-col col-4>
                        Time
                    </ion-col>
                </ion-row>
                <ion-row *ngFor="let Thursdays of Thursday">
                    <ion-col col-8>
                        {{Thursdays.ActivityName}}
                    </ion-col>
                    <ion-col col-4>
                        {{Thursdays.TimePerDay}}
                    </ion-col>
                </ion-row>
            </ion-grid>             
        </ion-card-content>
    </ion-card>
    <ion-card *ngIf="isFridayActivity">
        <ion-card-header class="card-header-box">
            Friday
        </ion-card-header>
        <ion-card-content>
            <ion-grid>
                <ion-row>
                    <ion-col col-8>
                        Activity
                    </ion-col>
                    <ion-col col-4>
                        Time
                    </ion-col>
                </ion-row>
                <ion-row *ngFor="let Fridays of Friday">
                    <ion-col col-8>
                        {{Fridays.ActivityName}}
                    </ion-col>
                    <ion-col col-4>
                        {{Fridays.TimePerDay}}
                    </ion-col>
                </ion-row>
            </ion-grid>             
        </ion-card-content>
    </ion-card>
    <ion-card *ngIf="isSaturdayActivity">
        <ion-card-header class="card-header-box">
            Saturday
        </ion-card-header>
        <ion-card-content>
            <ion-grid>
                <ion-row>
                    <ion-col col-8>
                        Activity
                    </ion-col>
                    <ion-col col-4>
                        Time
                    </ion-col>
                </ion-row>
                <ion-row *ngFor="let Saturdays of Saturday">
                    <ion-col col-8>
                        {{Saturdays.ActivityName}}
                    </ion-col>
                    <ion-col col-4>
                        {{Saturdays.TimePerDay}}
                    </ion-col>
                </ion-row>
            </ion-grid>             
        </ion-card-content>
    </ion-card>
    <ion-card *ngIf="isSundayActivity">
        <ion-card-header class="card-header-box">
            Sunday
        </ion-card-header>
        <ion-card-content>
            <ion-grid>
                <ion-row>
                    <ion-col col-8>
                        Activity
                    </ion-col>
                    <ion-col col-4>
                        Time
                    </ion-col>
                </ion-row>
                <ion-row *ngFor="let Sundays of Sunday">
                    <ion-col col-8>
                        {{Sundays.ActivityName}}
                    </ion-col>
                    <ion-col col-4>
                        {{Sundays.TimePerDay}}
                    </ion-col>
                </ion-row>
            </ion-grid>             
        </ion-card-content>
    </ion-card>
    <!-- <ion-list>
        <ion-item-sliding>
          <ion-item>
            Item
          </ion-item>
          <ion-item-options side="left">
            <button ion-button (click)="favorite(item)">Edit</button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list> -->
    <ion-grid class="gridPadding">
        <button ion-button block outline (click)="reportPage()">Submit</button>
    </ion-grid>
</ion-content>