<ion-header>
  <ion-navbar>
    <ion-title>
      Daily Chart
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-card-content>
      <h2>Daily Score</h2>
      <div style="display: block">
        <canvas baseChart [data]="doughnutChartData"
                    [labels]="doughnutChartLabels"
                    [chartType]="doughnutChartType"                    
                    [colors]="doughnutChartColor"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)"></canvas>
      </div>
    </ion-card-content>

  <ion-card-content>
      <h2>PeaceQ Score</h2>
    <div class="progress-wrapper">
        <div class="current" [ngStyle]="getOverlayStyle()">{{DailyPeaceQscoreText}}</div>
        <round-progress [current]="current" [max]="max" [stroke]="stroke" [radius]="radius" [semicircle]="semicircle" [rounded]="rounded"
        [responsive]="responsive" [clockwise]="clockwise" [color]="gradient ? 'url(#gradient)' : color" [background]="background"
        [duration]="duration" [animation]="animation" [animationDelay]="animationDelay"></round-progress>
    </div>        
</ion-card-content>
</ion-content>