<ion-header>
    <ion-navbar>
        <ion-title>Sign Up</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-list>
        <form [formGroup]="signUpFormData">
            <ion-item class="inputFields">
                <ion-input type="text" formControlName="fullName" placeholder="Name" [(ngModel)]="fullName"></ion-input>
            </ion-item>
            <ion-item no-lines *ngIf="( signUpFormData.get('fullName').hasError('minlength') || signUpFormData.get('fullName').hasError('maxlength') ||signUpFormData.get('fullName').hasError('required') ) && signUpFormData.get('fullName').touched">
                <div class="error" *ngIf="signUpFormData.get('fullName').hasError('required') && signUpFormData.get('fullName').touched">
                    Please input your Name
                </div>
            </ion-item>
            <ion-item class="inputFields">
                <ion-input type="text" formControlName="email" placeholder="Email" [(ngModel)]="email"></ion-input>
            </ion-item>
            <ion-item no-lines *ngIf="( signUpFormData.get('email').hasError('minlength') || signUpFormData.get('email').hasError('pattern') ||signUpFormData.get('email').hasError('required') ) && signUpFormData.get('email').touched">
                <div class="error" *ngIf="signUpFormData.get('email').hasError('required') && signUpFormData.get('email').touched">
                    Please input your email
                </div>
                <div class="error" *ngIf="signUpFormData.get('email').hasError('pattern') && signUpFormData.get('email').touched">
                    Email address invalid
                </div>
            </ion-item>
            <ion-item class="inputFields inputFieldsLast">
                <ion-input type="{{type}}" formControlName="password" placeholder="Password" [(ngModel)]="password"></ion-input>
                <button *ngIf="!showPass" ion-button clear color="dark" type="button" item-right (click)="showPassword()"> <ion-icon name="eye"></ion-icon></button>
                <button *ngIf="showPass" ion-button clear color="dark" type="button" item-right (click)="showPassword()"> <ion-icon name="eye-off"></ion-icon></button>
            </ion-item>
            <ion-item no-lines *ngIf="( signUpFormData.get('password').hasError('minlength') || signUpFormData.get('password').hasError('maxlength') ||signUpFormData.get('password').hasError('required') ) && signUpFormData.get('password').touched">
                <div class="error" *ngIf="signUpFormData.get('password').hasError('required') && signUpFormData.get('password').touched">
                    Please input your password
                </div>
                <div class="error" *ngIf="signUpFormData.get('password').hasError('minlength') && signUpFormData.get('password').touched">
                    Minimum 6 characters
                </div>
                <div class="error" *ngIf="signUpFormData.get('password').hasError('maxlength') && signUpFormData.get('password').touched">
                    Maximum 12 characters
                </div>
            </ion-item>
        </form>
    </ion-list>
    <ion-grid class="gridPadding">
        <button ion-button block outline [disabled]="!signUpFormData.valid" (click)="createAccount()">Create an Account</button>
    </ion-grid>
    <ion-grid text-center>
        <ion-list>
            <div class="signUpLink">Oh wait, I have an account. <a color="dark" (click)="login()">Sign In</a></div>
        </ion-list>
    </ion-grid>
    <ion-grid text-center class="gridPadding">
        <ion-list>
            <p class="PolicyLink">By Signing up you agree to the <a>Terms of Service</a> and <a>Privacy Policy</a></p>
        </ion-list>
    </ion-grid>
</ion-content>