page-slides{
    
      .toolbar-background {
        background: transparent!important;
        background-color: transparent!important;
        border-color: transparent!important;
      }
      ion-buttons{
        background-color: #fda553;
        border-radius: 5px;
      }
      .bar-button-md-primary {
        color: #fff ;
      }
      .swiper-pagination-bullet{
        background: #eee;
      }
      .swiper-pagination-bullet-active {
        background: #ff9735;
      }
      .slide-zoom {
        height: 100%;
      }
    
      .slide-title {
        margin-top: 2.8rem;
      }
    
      .slide-image {
        max-height: 50%;
        max-width: 60%;
        margin: 18px 0;
      }
    
      b {
        font-weight: 500;
      }
       h2{
        color: #fff;
       }
      p {
        padding: 0 40px;
        font-size: 14px;
        line-height: 1.5;
        color: #fff;
    
        b {
          color: #fff;
        }
      }
}