
  <ion-content>
  
    <ion-slides pager >
      <ion-slide style="background-image: url(assets/imgs/moderate.jpeg);background-size:cover"> 
        <ion-toolbar>
          <ion-buttons end>
            <button ion-button color="primary" (click)="skiptoLogin()">Skip</button>
          </ion-buttons>
        </ion-toolbar>
        <h2>Workouts & fitness plans for any goal</h2>
        <p>You choose the workout you want and how much time you have, then this app will show you what to do.</p>
      </ion-slide>
      <ion-slide style="background-image: url(assets/imgs/combination.jpg);background-size:cover"> 
        <ion-toolbar>
          <ion-buttons end>
            <button ion-button color="primary" (click)="skiptoLogin()">Skip</button>
          </ion-buttons>
        </ion-toolbar>
        <h2>No Gym, No Excuse</h2>
        <p>Whether you are at home or on the go, you can use this app from anywhere.</p>
      </ion-slide>
    </ion-slides>

  </ion-content>