<ion-header>
        <ion-navbar>
            <ion-title>Workout Addition</ion-title>
        </ion-navbar>
</ion-header>
<ion-content>
    <ion-row >
        <ion-col col-12>
            <ion-item no-lines>
                <ion-label>Type of Workout</ion-label>                  
                <ion-select [(ngModel)]="ActivityAdd">                         
                    <ion-option *ngFor="let activity of activityType" value="{{activity.ActivityName}}">
                        {{activity.ActivityName}}
                    </ion-option>                 
                </ion-select>
            </ion-item>
            <ion-item no-lines>
                <ion-label>Time Spent (mins)</ion-label>
                <ion-select [(ngModel)]="TimeAdd">                         
                    <ion-option *ngFor=" let timePerDays of timePerDay" value="{{ timePerDays }}">
                        {{ timePerDays }}
                    </ion-option>
                </ion-select>                
            </ion-item>
            <ion-item no-lines>
                <ion-label>Days in week</ion-label>
                <ion-select [(ngModel)]="DaysAdd" multiple="true">                         
                    <ion-option *ngFor=" let dayPerWeeks of dayPerWeek" value="{{ dayPerWeeks }}">
                        {{ dayPerWeeks }}
                    </ion-option>
                </ion-select>
            </ion-item>
        </ion-col>     
    </ion-row>
    <ion-grid class="gridPadding">
        <button ion-button block outline (click)="submitAdditionActivity()">Submit</button>
    </ion-grid>
    <ion-grid class="gridPadding">
        <button ion-button block outline (click)="cancelAdditionActivity()">Cancel</button>
    </ion-grid>
</ion-content>