page-workout-addition-moderate {
    .background{
        width:100%;
        height:100%;
        background: linear-gradient(10deg,#4E5EFC,#4EE7FC);
    }
    .scroll-content{
        text-align: center;
    }
    ion-card.card{
        background: rgba(232, 230, 230, 0.6);
        border-radius: 10px;
    }
    .item{
        background: rgba(232, 230, 230, 0);
    }
    ion-label{
        white-space: initial;
    }
    ion-icon{
        margin: 0px 5px;
    }
    .select-icon-inner{
        color: #000!important;
    }
    h1{
        color: #fff;
        font-size: 3em;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: lighter;
    }
}