<ion-header>
    
    <ion-navbar>
        <ion-title>Area Of Interest</ion-title>
    </ion-navbar>
    
</ion-header>
<ion-content >
<ion-card class="card-header-box">
    <ion-card-content>
        <p>Which are you areas of interest?</p>
    </ion-card-content>
</ion-card>
<ion-card class="card-header-box">
        <div class="overflowBox">
            <ion-row *ngFor="let AreaTypes of AreaType">
                <ion-col col-12>
                    <ion-item no-lines>
                        <ion-label>{{AreaTypes}}</ion-label>                  
                        <ion-checkbox></ion-checkbox>
                    </ion-item>
                </ion-col>
            </ion-row>
        </div>  
</ion-card>
    <ion-grid class="gridPadding">
        <button ion-button block outline (click)="openWorkoutSuggestion()">Submit</button>
    </ion-grid>
</ion-content>